body{
    background-image: url('../images/Melting-Ice-Cube.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.well{
    border: solid #2B3856 2px;
    background-color: rgba(255, 255, 255, 0.95);
    padding-left: 25px;
}

.form-control {
	border: 2px solid;
}

.btn {
	border: solid #2B3856 3px;
}


