<div class='well' style='margin-top:20px;'>
    <h3>Contact Information</h3>
    <p>Please email any questions or suggestions to <a href='mailto:tdesell@cs.und.edu'>Travis Desell</a>, or feel free to post a message in our <a href='../forum_index.php'>forums</a>.</p>

    Climate Tweets is run by:
    <ul>
        <li>
        <a href='http://people.cs.und.edu/~tdesell/'>Travis Desell</a>, Assistant Professor of Computer Science, University of North Dakota
        </li>
        <li>
        <a href='http://www.und.edu/instruct/kirilenko/'>Andrei Kirilenko</a>, Associate Professor of Earth System Science and Policy
        </li>
        <li>
        Aaron Bergstrom, High Performance Computing Specialist, University of North Dakota
        </li>
        <li>
        Lindsey Wingate, Undergraduate Research Assistant, University of North Dakota
        </li>
    </ul>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Publications</h3>
    <p>
    All publications, talks and posters about Climate Tweets can be viewed on the Citizen Science Grid's <a href='../publications.php'>publications page</a>.
    </p>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Support</h3>
    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://und.edu'><img class='img-responsive' src='./images/nd_epscor.png' style='margin-bottom:5px;'></img></a>
        </div>
        <div class='col-sm-9'>
            <p>
            The Climate Tweets project is in part supported by the <a href='http://www.ndepscor.nodak.edu'>North Dakota Experimental Program to Stimulate Competitive Research (EPSCoR)</a>.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://boinc.berkeley.edu/' style='display:block; margin-left:auto; margin-right:auto;'><img class='img-responsive' src='./images/pb_boinc.gif' alt='Powered by BOINC'></img></a>
        </div>
        <div class='col-sm-9'>
            <p>
            Climate Tweets is in part powered by the <a href='http://boinc.berkeley.edu/'>Berkeley Open Infrastructure for Network Computing (BOINC)</a>.
            </p>
        </div>
    </div> <!-- row- -->
</div> <!-- well -->

