<div class='container'>
	<div class='row'>
		<div class='col'>
			<div class='well'>
				<table class='table table-bordered'>
				<h3>	
				Please select the desired tweets
				</h3>
				<tbody>
				{{#repeat}}
					<tr>
						<td><div class='checkbox'><label><input type='checkbox' class='selection_box' id='{{text}}'></label></div></td>
						<td>{{text}}</td>
					</tr>
				{{/repeat}}
				</tbody>
				</table>
				<button type='button' class='btn btn-default btn-lg' id='render_doc'>Keep These Tweets</button>
				<a href='./docs/tweets.txt'>
				<button type='button' class='btn btn-default btn-lg' id='download_button'>Click for Download</button>
				</a>
			</div>
		</div>
	</div>
</div>
