<!DOCTYPE>
<html>
<head>
	<script src='../js/FileSaver.js'></script>
</head>
<body>
<div class='container'>
	<div class='row'>
		<div class='col'>
			<div class='well'>
				<table class='table table-bordered' table id='mytable'>
				<h4>	
				Please select the desired tweets. If you would prefer a larger selection, select the "more tweets" button. The tweets you have checked will remain and a new batch will appear below.
				</h4>
				<tbody>
				{{#repeat}}
					<tr>
						<td><div class='checkbox'><label><input type='checkbox' class="selection_box" id="{{text}}"></label></div></td>
						<td>{{text}}</td>
					</tr>
				{{/repeat}}
				</tbody>
				</table>
			</div><!--well-->
		</div><!--col-->
				<div class='well' id='hi'>
				<center>
				<button type='button' class='btn btn-default btn-lg frank' id='more_tweets'>More Tweets</button>
				<button type='button' class='btn btn-default btn-lg frank' id='render_doc'>Download Tweet File</button>
				<a href='./docs/tweets.txt'>
				</a>
				</center>
			</div><!--well-->
	</div><!--row-->
</div><!--container-->
</body>
</html>
